//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 23 09:55:01 2024
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P89" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P10" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "seg_en" LOCATE = SITE "P18" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "A" LOCATE = SITE "P57" LEVEL 1;
COMP "B" LOCATE = SITE "P65" LEVEL 1;
COMP "C" LOCATE = SITE "P40" LEVEL 1;
COMP "D" LOCATE = SITE "P53" LEVEL 1;
COMP "E" LOCATE = SITE "P33" LEVEL 1;
COMP "F" LOCATE = SITE "P35" LEVEL 1;
COMP "G" LOCATE = SITE "P62" LEVEL 1;
COMP "reset" LOCATE = SITE "P4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

