//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 10 11:36:14 2024
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "P17" LEVEL 1;
COMP "LED1" LOCATE = SITE "P16" LEVEL 1;
SCHEMATIC END;

