//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 16 23:49:15 2024
//! **************************************************************************

SCHEMATIC START;
COMP "Switch" LOCATE = SITE "P4" LEVEL 1;
COMP "LED" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

